# Archivos compilados
*.class

# Directorios de compilación
/bin/
/out/
/build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
# IntelliJ
.idea/
*.iml

# Eclipse
*.classpath
*.project
.settings/

# VS Code
.vscode/

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.swp

# Archivos de empaquetado
*.jar
*.war
*.ear
